// Variables
@import 'variables';

@tailwind base;

h1 {
  @apply text-2xl;
}

h2 {
  @apply text-xl;
}

h3 {
  @apply text-lg;
}

a {
  @apply text-blue-600 underline;
}

@tailwind components;

.section {
  @apply px-4;
}

.btn-blue {
  @apply bg-button text-white font-normal text-sm no-underline py-2 px-5 rounded-lg shadow;
}

.btn-blue:hover {
  @apply bg-blue-700;
}

.card {
  @apply bg-card p-5 rounded-lg shadow;
  color: var(--text-default-color);
}

@tailwind utilities;

.theme-light {
  --page-background-color: #f7fafc; //bg-gray-100
  --card-background-color: #ffffff; //bg-white
  --button-background-color: #4299e1; //bg-blue-500
  --header-background-color: #ffffff; //bg-white

  --text-default-color: #222;
}

.theme-dark {
  --page-background-color: #17181e;
  --card-background-color: #1f2027;
  --button-background-color: #4299e1; //bg-blue-500
  --header-background-color: #1f2027;

  --text-default-color: #fff;
}

