.theme-light {
  --page-background-color: #f7fafc; //bg-gray-100
  --card-background-color: #ffffff; //bg-white
  --button-background-color: #4299e1; //bg-blue-500
  --header-background-color: #ffffff; //bg-white

  --text-default-color: #222;
  --text-accent-color: #47cdff;
  --text-accent-light-color: #8ae2fe;
  --text-muted-colod: rgba(0, 0, 0, .3);
  --text-muted-light-color: rgba(255, 255, 255, .1);
  --text-muted-light-color: #e1e6e8;
  --text-error-color: #f56565;
}
